* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

#start-page,
#win-page,
#lose-page {
  height: 600px;
  width: 1000px;
  background-color: rgb(240, 178, 154);
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border: none;
  margin-top: 30px;
}

#start-page {
  background-image: url("../images/barcelona.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 1.25em;
}

#start-page h1 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.5em;
  text-shadow: 3px 3px salmon;
  margin: 0 280px 45px 300px;
  border-radius: 40px;
}

#start-page p,
#start-page ul {
  background-color: rgba(240, 178, 154, 0.719);
  margin: 30px 100px;
  color: rgb(240, 86, 69);
}

.controls {
  list-style: none;
  display: flex;
  justify-content: center;;
}

.controls img {
  height: 30px;
  margin: 0 15px;
}

article {
  margin-top: 110px;
}

button {
  color: white;
  font-size: 1.75em;
  background-color: salmon;
  border: none;
  padding: 5px 30px;
  margin-top: 70px;
  text-shadow: 2px 2px rgb(235, 226, 152);
  border-radius: 30px;
}

button:hover {
  background-color: rgb(243, 81, 63);
  font-weight: bolder;
  transform: scale(1.5);
}

#lose-page {
  display: none;
}

#win-page {
  display: none;
}

#win-page h1 {
  text-shadow: 2px 2px salmon;
  padding: 100px;
}

#lose-page h1 {
  text-shadow: 2px 2px salmon;
  padding: 200px;
}

#try-again {
  position: absolute;
  margin: 0 -100px;
}

canvas {
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  background-image: url("../images/barcelona.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(240, 178, 154);;
}

/* Auxiliar classes */

.hidden {
  display: none;
}

.shown {
  display: flex;
}